* {
    margin: 0;
    padding: 0;
}

body {
    margin: 50px;
}

.wrap {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
}

header {
    background: blue;
    height: 100px;
    width: 100%;
}

.hero {
    background: plum;
    height: 200px;
}

.sidebar {
    background: chartreuse;
    height: 500px;
}

.main-content {
    background: yellow;
    height: 500px;
}

.extra-content {
    background: gray;
    height: 200px;
}

.related-images {
    background: green;
    height: 200px;
    width: 70%;
    margin-right: 10px;
}

.related-posts {
    background: hotpink;
    height: 200px;
    width: 30%;
}

.xxx,
.yyy {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.xxx {
    width: 35%;
}

.yyy {
    width: 65%;
}

.zzz {
    display: flex;
    margin-top: 10px;
}
.footer{
    background: orange;
    height: 200px;
    margin-top: 10px;
}