@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    height: 66px;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.nav {
    display: flex;
    column-gap: 29px;
    font-family: Open Sans;
    column-gap: 29px;
    
}

.nav a {

    color: black;
    text-decoration: none;
}

.icons {
    display: flex;
    column-gap: 20px;
}

* {
    margin: 0;
    padding: 0;
}

.menu {
    border-bottom: 2px solid #C4C4C4;
}

.top-part h1 {
    /* width: 151px; */
    height: 96px;
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 72px;
    line-height: 96px;
    color: #000000;
    text-align: center;
}

.list {
    margin-left: 150px;
}

.list h3 {
    margin-top: 50px;
    margin-bottom: 15px;
    padding-left: 20px;
    width: 90px;
    height: 24px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;

}

.list li {
    list-style-type: none;
    width: 210px;
    height: 20.27px;
    border: 1px solid #63C0C2;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 15px;
    padding-left: 20px;
    color: #C4C4C4;
}

.list a {
    margin-left: 20px;
    text-decoration: none;
    color: #30ABAE;
}

.li-background {
    background: #E4E4E4;
}

.tiny-text {
    display: flex;
}

.top-card {
    width: 295px;
    display: flex;
    flex-direction: column;
}

img {
    width: 295px;
    height: 188px;
}

.main {
    display: flex;
    column-gap: 159px;
    position: relative;
}

.main_bg {
    position: absolute;
    width: 693px;
    height: 656px;
    background: #F2F5F1;
    z-index: -1;
    top: 62px;
}

.pic {
    padding-top: 229px;
    display: flex;
    column-gap: 70px;
}

.top-card h2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 13px;
}

.tiny-text {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ED8651;
}

.tiny-text span,
li {
    color: #C4C4C4;
}

.pic-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.top-card a {
    text-decoration: none;
    margin-top: 20px;
    margin-left: 50%;
    color: #30ABAE;
}
.bottom-pic{
    display: flex;
    justify-content: space-around;
    margin-top: 115px;

}
.gray-part{
    margin-top: 79px;
    background-color: #C4C4C4;
}
footer{
    background-color: #16595A;
}
.size{
    height: 100px;
    width: 100%;
}
/* .top-part{
    width: 100%;
    margin-top: 7%;
} */

.button-mobile{
    width: 60px;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button-mobile span{
    position: relative;
    width: 80%;
    height: 7px;
    border-radius: 6px;
    background-color: blue;
}
.button-mobile span::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: -12px;
    border-radius: 6px;
    background-color: blue;
}

.button-mobile span::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    bottom: -12px;
    border-radius: 6px;
    background-color: blue;
}






@media screen and (max-width: 900px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    .menu {
        display: flex;
        padding: 0 25px;
        position: relative;
    }
    .nav {
        position: absolute;
        width: 100%;
        height: 97vh;
        background: red;
        top: 100%;
        z-index: 1;
        left: -100%;
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
        row-gap: 20px;
        transition: left 1s;
    }

    .nav.active {
        left: 0;
    }
    .button-mobile{
        display: flex;
        
    }
    .bottom-pic{
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        /* justify-content: center; */
    }

    .pic{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding-top: 85px;
        padding-left: 50px;
    }

    .main_bg {
        width: 100%;
    }
    .list{
        margin-left: 100px;
    }

    /* .icons {
        width: 50%;
        margin-top: 2%;
        margin-right: 5%;
    } */

    /* .pic{
     display: flex;
     flex-direction: column;
 } */
    /* .top-card{
    width: 50%;
} */
   
}