@media screen and (max-width: 900px) {
    .menu {
        display: flex;
        height: 20%;
    }

    .nav {
        width: 50%;
    }

    .icons {
        width: 50%;
        margin-top: 2%;
        margin-right: 5%;
    }

    .h2 {
        position: absolute;
        top: -12%;
        left: 0%;
    }
    h2{
        position: absolute;
        top: 25%;
    }
    .pic{
        display: flex;
        flex-direction: column;
        margin-top: -100%;
    }
}